body {
    line-height: 20px;
    margin: 20px;
    background-color: white;
    font-family: Georgia, serif;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
    margin-bottom: 20px;
}

header {
    width: 70%;
    background-color: white;
    margin: 20px auto;
    height: 200px;
}

.side-nav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: salmon;
    overflow-x: hidden;
    padding-top: 92px;
    color: white;
    border-right: 1px solid white;
}

.side-nav a {
    padding: 10px;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
    display: block;
    text-align: right;
}

img {
    display: block;
    margin: 20px auto;
    background-color: white;
}

.family {
    width: 100%;
}

.link {
    padding: 0px 20px;
    line-height: 30px;
}

.link:hover {
    background-color: lightsalmon;
}

.home {
    padding: 0px 20px;
    line-height: 30px;
    text-decoration: none;
    color: salmon;
}

.home:hover {
    color: black;
}

.data {
    color: white;
    font-family: Helvetica, sans-serif;
}

table {
    font-size: 12px;
    background-color: white;
    margin: 20px;
}

thead {
    background-color: salmon;
    color: white;
}

table tr:nth-child(even) {
    background-color: rgb(200,200,200)
}

th, td {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(150,150,150);
}

th {
    font-weight: bold;
}

tfoot {
    border-top: 2px solid black;
    font-weight: bold;
    background-color: lightsalmon;
}

form {
    font-size: 12px;
    font-weight: bold;
    margin: 20px;
    color: white;
    font-family: Georgia, serif;
}

.form-elements {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 30px;
}

.label {
    display: block;
    color: black;
}

button {
    font-weight: bold;
    background-color: lightsalmon;
    height: 35px;
    width: 80px;
    position: relative;
}

.container, footer {
    position: relative;
    text-align: center;
    left: 5%;
    border-bottom: 1px solid lightsalmon;
    padding-bottom: 10px;
    background-color: white;
}

footer {
    padding: 20px 0px 30px 0px;
    border-bottom: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gaegu', cursive;
    color: white;
    font-size: 60px;
}

h1 {
    font-size: 30px;
    text-align: center;
    background-color: lightsalmon;
    width: 50%;
    color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    line-height: 50px;
}

h2 {
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    color: rgb(68, 54, 23);
    border-bottom: 1px solid lightsalmon;
}

.column {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.information {
    width: 50%;
    margin: 20px auto;
    height: 200px;
    color: salmon;
    padding-top: 20px;
}

.information p {
    margin: 20px;
}

.text {
    margin: 0 25% 20px 25%;
    text-align: justify;
}

.bold {
    font-weight: bold;
    font-size: 16px;
}

.right {
    margin-right: 20px;
    float: right;
}

.left {
    margin-left: 50px;
    float: left;
    clear: right;
}

