body {
    line-height: 20px;
    margin: 20px;
    background-color: grey;
    font-family: Georgia, serif;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    color: salmon;
    text-align: center;
    line-height: 40px;
    background-color: rgb(68, 54, 23);
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: rgb(68, 54, 23);
    font-family: 'Gaegu', cursive;
}

header {
    width: 70%;
    background-color: white;
    margin: 20px auto;
    height: 200px;
}

nav {
    text-align: center;
}

.information {
    width: 70%;
    background-color: white;
    margin: 20px auto;
    height: 200px;
    color: salmon;
    padding-top: 20px;
}

.information p {
    margin: 20px;
}

img {
    display: block;
    margin: 20px auto;
    width: 70%;
    background-color: white;
}

.link {
    padding: 0px 20px;
    line-height: 30px;
    color: salmon;
}

.data {
    color: white;
    font-family: Helvetica, sans-serif;
}

table {
    font-size: 12px;
    background-color: white;
    margin: 20px;
}

thead {
    background-color: salmon;
    color: white;
}

table tr:nth-child(even) {background-color: rgb(200,200,200)}

th, td {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(150,150,150);
}

th {
    font-weight: bold;
}

tfoot {
    border-top: 2px solid black;
    font-weight: bold;
    background-color: lightsalmon;
}

form {
    font-size: 12px;
    font-weight: bold;
    margin: 20px;
    color: white;
    font-family: Georgia, serif;
}
.form-elements {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 30px;
}
span {
    display: block;
}

button {
    font-weight: bold;
    background-color: lightsalmon;
    height: 35px;
    width: 80px;
}